<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.hfut.innovate.community.dao.CollectionRecordMapper">

    <resultMap id="BaseResultMap" type="edu.hfut.innovate.community.entity.CollectionRecord">
            <id property="collectionId" column="collection_id" jdbcType="BIGINT"/>
            <result property="userId" column="user_id" jdbcType="BIGINT"/>
            <result property="topicId" column="topic_id" jdbcType="BIGINT"/>
            <result property="isDelete" column="is_delete" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        collection_id,user_id,topic_id,
        is_delete
    </sql>
</mapper>
