<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.hfut.innovate.community.dao.NoticeMapper">

    <resultMap id="BaseResultMap" type="edu.hfut.innovate.community.entity.NoticeEntity">
            <id property="noticeId" column="notice_id" jdbcType="BIGINT"/>
            <result property="name" column="name" jdbcType="VARCHAR"/>
            <result property="title" column="title" jdbcType="VARCHAR"/>
            <result property="administratorId" column="administrator_id" jdbcType="BIGINT"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
            <result property="isDelete" column="is_delete" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="notice_fields">
        notice_id,name,title,
        administrator_id,create_time,update_time,
        is_delete,content
    </sql>

    <sql id="notice_as_fields">
        notice_id as ${prefix}notice_id,name as ${prefix}name,title as ${prefix}title,
        administrator_id as ${prefix}administrator_id,create_time as ${prefix}create_time,update_time as ${prefix}update_time,
        is_delete as ${prefix}is_delete,content as ${prefix}content
    </sql>
    <sql id="notice_t_as_fields">
        ${tb_alias}.notice_id as ${prefix}notice_id,${tb_alias}.name as ${prefix}name,${tb_alias}.title as ${prefix}title,
        ${tb_alias}.administrator_id as ${prefix}administrator_id,${tb_alias}.create_time as ${prefix}create_time,${tb_alias}.update_time as ${prefix}update_time,
        ${tb_alias}.is_delete as ${prefix}is_delete,${tb_alias}.content as ${prefix}content
    </sql>
</mapper>
