<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.hfut.innovate.community.dao.RotationMapper">

    <resultMap id="BaseResultMap" type="edu.hfut.innovate.community.entity.RotationEntity">
            <id property="rotationId" column="rotation_id" jdbcType="BIGINT"/>
            <result property="title" column="title" jdbcType="VARCHAR"/>
            <result property="url" column="url" jdbcType="VARCHAR"/>
            <result property="isDelete" column="is_delete" jdbcType="INTEGER"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="rotation_fields">
        rotation_id,title,url,
        is_delete,create_time,update_time
    </sql>

    <sql id="rotation_as_fields">
        rotation_id as ${prefix}rotation_id,title as ${prefix}title,url as ${prefix}url,
        is_delete as ${prefix}is_delete,create_time as ${prefix}create_time,update_time as ${prefix}update_time
    </sql>
    <sql id="rotation_t_as_fields">
        ${tb_alias}.rotation_id as ${prefix}rotation_id,${tb_alias}.title as ${prefix}title,${tb_alias}.url as ${prefix}url,
        ${tb_alias}.is_delete as ${prefix}is_delete,${tb_alias}.create_time as ${prefix}create_time,${tb_alias}.update_time as ${prefix}update_time
    </sql>
</mapper>
