<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.hfut.innovate.community.dao.TopicLocationMapper">

    <resultMap id="BaseResultMap" type="edu.hfut.innovate.community.entity.TopicLocationEntity">
            <id property="locationId" column="location_id" jdbcType="BIGINT"/>
            <result property="locationName" column="location_name" jdbcType="VARCHAR"/>
            <result property="isDelete" column="is_delete" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        location_id,location_name,is_delete
    </sql>
</mapper>
